.day {
	width: 1rem;
	height: 2rem;
	text-align: center;

	&.blur {
		opacity: 0.33;
	}

	> span {
		&.today {
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			background-color: black;
			color: white;
		}

		&.blue {
			color: blue;
		}

		&.red {
			color: red;
		}

		&.selected {
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			background-color: gray;
		}
	}
}

.dow {
	&.blue {
		color: blue;
	}

	&.red {
		color: red;
	}
}
