$header-height: 7rem;

.layout {
	width: 100%;
	height: 100%;
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: $header-height;
}

.body {
	margin-top: $header-height;
	width: 100%;
}
