.calendarHeader {
	.title {
		display: flex;
		justify-content: center;

		height: 1.5rem;
		padding-bottom: 0.5rem;
	}

	.summary {
		color: black;
		margin: 0 0.5rem;
	}

	.moveBtn {
		width: 1.5rem;
		height: 1.5rem;
		line-height: 1.5rem;
	}
}

.calendarBody {
}

.dows {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 40rem;
}
